In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('customer.csv')

In [3]:
data.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

# in this data set gender is the only column on which we can apply one hot encoding

# One hote encodeing using pands

In [5]:
pd.get_dummies(data,columns=['gender'],dtype=int)

    age   review education purchased  gender_Female  gender_Male
0    30  Average    School        No              1            0
1    68     Poor        UG        No              1            0
2    70     Good        PG        No              1            0
3    72     Good        PG        No              1            0
4    16  Average        UG        No              1            0
5    31  Average    School       Yes              1            0
6    18     Good    School        No              0            1
7    60     Poor    School       Yes              1            0
8    65  Average        UG        No              1            0
9    74     Good        UG       Yes              0            1
10   98     Good        UG       Yes              1            0
11   74     Good        UG       Yes              0            1
12   51     Poor    School        No              0            1
13   57  Average    School        No              1            0
14   15     Poor        PG       Yes              0            1
15   75     Poor        UG        No              0            1
16   59     Poor        UG       Yes              0            1
17   22     Poor        UG       Yes              1            0
18   19     Good    School        No              0            1
19   97     Poor        PG       Yes              0            1
20   57  Average    School       Yes              1            0
21   32  Average        PG        No              0            1
22   18     Poor        PG       Yes              1            0
23   96     Good    School        No              1            0
24   16  Average        PG       Yes              1            0
25   57     Good    School        No              1            0
26   53     Poor        PG        No              1            0
27   69     Poor        PG        No              1            0
28   48     Poor    School        No              0            1
29   83  Average        UG       Yes              1            0
30   73  Average        UG        No              0            1
31   22     Poor    School       Yes              1            0
32   92  Average        UG       Yes              0            1
33   89     Good        PG       Yes              1            0
34   86  Average    School        No              0            1
35   74     Poor    School       Yes              0            1
36   34     Good        UG       Yes              1            0
37   94  Average        PG       Yes              0            1
38   45     Good    School        No              1            0
39   76     Poor        PG        No              0            1
40   39     Good    School        No              0            1
41   23     Good        PG       Yes              0            1
42   30     Good        PG       Yes              1            0
43   27     Poor        PG        No              0            1
44   77  Average        UG        No              1            0
45   61     Poor        PG       Yes              0            1
46   64     Poor        PG        No              1            0
47   38     Good        PG       Yes              1            0
48   39     Good        UG       Yes              1            0
49   25     Good        UG        No              1            0

In [6]:
# if we want to drop first coulumn
pd.get_dummies(data,columns=['gender'],dtype=int,drop_first=True)

    age   review education purchased  gender_Male
0    30  Average    School        No            0
1    68     Poor        UG        No            0
2    70     Good        PG        No            0
3    72     Good        PG        No            0
4    16  Average        UG        No            0
5    31  Average    School       Yes            0
6    18     Good    School        No            1
7    60     Poor    School       Yes            0
8    65  Average        UG        No            0
9    74     Good        UG       Yes            1
10   98     Good        UG       Yes            0
11   74     Good        UG       Yes            1
12   51     Poor    School        No            1
13   57  Average    School        No            0
14   15     Poor        PG       Yes            1
15   75     Poor        UG        No            1
16   59     Poor        UG       Yes            1
17   22     Poor        UG       Yes            0
18   19     Good    School        No            1
19   97     Poor        PG       Yes            1
20   57  Average    School       Yes            0
21   32  Average        PG        No            1
22   18     Poor        PG       Yes            0
23   96     Good    School        No            0
24   16  Average        PG       Yes            0
25   57     Good    School        No            0
26   53     Poor        PG        No            0
27   69     Poor        PG        No            0
28   48     Poor    School        No            1
29   83  Average        UG       Yes            0
30   73  Average        UG        No            1
31   22     Poor    School       Yes            0
32   92  Average        UG       Yes            1
33   89     Good        PG       Yes            0
34   86  Average    School        No            1
35   74     Poor    School       Yes            1
36   34     Good        UG       Yes            0
37   94  Average        PG       Yes            1
38   45     Good    School        No            0
39   76     Poor        PG        No            1
40   39     Good    School        No            1
41   23     Good        PG       Yes            1
42   30     Good        PG       Yes            0
43   27     Poor        PG        No            1
44   77  Average        UG        No            0
45   61     Poor        PG       Yes            1
46   64     Poor        PG        No            0
47   38     Good        PG       Yes            0
48   39     Good        UG       Yes            0
49   25     Good        UG        No            0

# One Hot Encodeing Using Sklearn

In [7]:
x=data[['age','gender','review','education']]
y=data['purchased']

In [9]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_tarin,y_test=train_test_split(x,y,test_size=0.2,random_state=True)

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

In [14]:
x_train_new=ohe.fit_transform(x_train[['gender']])
x_test_new=ohe.fit_transform(x_test[['gender']])

/home/user/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/home/user/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [15]:
x_train_new

array([[1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1]], dtype=int32)